* {
  /* border-radius: 0px !important; */
}

.ReactTable {
    border: 0 !important;
    box-shadow: 0 !important;
}

.ReactTable .rt-thead.-header {
    box-shadow: 0 0 0 0 !important;
    margin-bottom: 1% !important;
    text-align: left;
}

.ReactTable .rt-thead.-header::after {
  content: '';
  background-image: -moz-linear-gradient( 0deg, rgba(255,255,255,0) 0%, rgba(209,209,209,0.24) 12%, rgb(162,162,162) 50%, rgba(209,209,209,0.22) 89%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgba(255,255,255,0) 0%, rgba(209,209,209,0.24) 12%, rgb(162,162,162) 50%, rgba(209,209,209,0.22) 89%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient( 0deg, rgba(255,255,255,0) 0%, rgba(209,209,209,0.24) 12%, rgb(162,162,162) 50%, rgba(209,209,209,0.22) 89%, rgba(255,255,255,0) 100%);
  height: 2px;
}

.-sort-asc .rt-resizable-header-content::after {
  background-image: url('../src/Static/Images/up-arrow.svg');
  margin-left: 4px;
  background-size: 10px 20px;
  display: inline-block;
  width: 10px; 
  height: 15px;
  content:"";
}

.-sort-asc {
  box-shadow: 0 0 0 0 !important;

}
.-sort-desc .rt-resizable-header-content::after {
  background-image: url('../src/Static/Images/down-arrow.svg');
  margin-left: 4px;
  background-size: 10px 20px;
  display: inline-block;
  width: 10px; 
  height: 15px;
  content:"";
}

.rt-resizable-header-content {
  font-family: "Roboto";
  color: rgb(139, 139, 139);
}

.-sort-desc {
  box-shadow: 0 0 0 0 !important;

}

.-odd {
  background: 0 !important;
}

.rt-td {
  border-right: 0 !important;
}

.rt-tr-group {
  border-bottom: 0 !important;
}

.rt-tr-group:hover {
  background: rgba(0,0,0,0.05) !important;
}

.rt-tr {
  text-align: left;
}

.rt-tbody {
  margin: 1% !important;
}

.App {
  /* background: #ffffff url('./Static/Images/backgroundGraph.png') no-repeat fixed center; */
    padding-left: 2em;
    padding-right: 2em;
    /* height: 100vh; */
}
    

.Menu {
  width: 100%;
}

.menuBack {
  background-image: url('./Static/Images/backgroundMenu.png')
}



.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 1349;
}

.Finside {
  font-size: 100px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  line-height: 0.181;
  text-align: center;
  -moz-transform: matrix(0.50446965993909, 0, 0, 0.53102069467273, 0, 0);
  -webkit-transform: matrix(0.50446965993909, 0, 0, 0.53102069467273, 0, 0);
  -ms-transform: matrix(0.50446965993909, 0, 0, 0.53102069467273, 0, 0);
  /* position: absolute; */
  left: -30.031px;
  top: 42.95px;
  z-index: 1348;
}


.nav-item::after{
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #fec400;
  transition: 0.2s;
}

.nav-item:hover::after {
  width: 100%;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
{
  color: #fec400;
}

.nav-link {
  padding: 15px 5px;
  transition: 0.2s;
}




.Горизонтальная {
position: absolute;
  left: 1px;
  top: 887px;
  width: 484px;
  height: 1px;
  z-index: 146;
}


[class*="MuiNotchedOutline-focused-"] {
  border-color: rgba(0,0,0,0.05) !important;
  box-shadow: 0 0 10px #f3630c
}

[class*="MuiNotchedOutline-root-"] {
  border-color: #f3630c !important;
}

