.listOfActives {
    overflow-y: scroll;
    /* height: 113vh; */
    min-height: 100%;
    width: 49%;
    /* margin-left: 2em; */
}

.assetChart {
    overflow-y: scroll;
    height: 50%;
    margin-left: auto;
    margin-bottom: 2%;
}

.diagram {
    /* height: 49%; */
    max-width: 30%;

}

.centerDiagram {
    margin-left: 5%;
    margin-right: 5%;
}

.minHeight {
    min-height: 49%;
    display: flex;
}

.maxWidth {
    max-width: 50%;
}